<h1>URL shortner Project</h1>
To use this app, enter a valid link as input and click on shorten.<br>
The output is a shortned link, but it might not appear as so because the name of my website is long. If it were short, somthing like bit.ly, then the url will look shorter.<br>
Paste this new url in your browser, you'll be redirected to the link you orignally entered. 


<br>
<br>
<br>

This project was made by <a href ="https://pradhyumn.netlify.app"> Pradhyumn jain</a> using <a href = "https://www.djangoproject.com">django.</a> <br><br>
Project tutorial by <a href = "https://www.youtube.com/watch?v=qPtScmB8CgA">codewithtomi</a>